@font-face {
  font-family: "Switzer";
  src: url(../font/Switzer-Regular.woff2) format(woff2);
  src: url(../font/Switzer-Bold.woff2) format(woff2);
  src: url(../font/Switzer-Light.woff) format(woff);
  src: url(../font/Switzer-Medium.woff2) format(woff2);
}
